.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.block,
.btn-container {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

.btn-container {
  margin-top: 0.5rem;
}
