<mat-toolbar color="primary">Форма резюме</mat-toolbar>

<div class="progress">
  <h1>{{ step }}% Заповнення Форми</h1>
  <mat-progress-bar mode="determinate" [value]="step"></mat-progress-bar>
</div>

<mat-stepper [linear]="true" #stepper (selectionChange)="onStepChange($event)">
  <mat-step [stepControl]="aboutForm" label="Fill out info about you">
    <app-about></app-about>
  </mat-step>

  <mat-step [stepControl]="educationForm" label="Fill out your education">
    <app-education></app-education>
  </mat-step>

  <ng-container *ngIf="isHigherEducationExist">
    <mat-step
      [stepControl]="higherEducationForm"
      label="Fill out your higher Education"
    >
      <app-higher-education></app-higher-education>
    </mat-step>
  </ng-container>

  <mat-step
    [stepControl]="workExperienceForm"
    label="Fill out your work Experience"
  >
    <app-work-experience></app-work-experience>
  </mat-step>

  <mat-step [stepControl]="result" label="Result">
    <app-result></app-result>
  </mat-step>
</mat-stepper>
